# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Python packaging
*.egg-info/
dist/
build/

# IDE files
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log